resilience4j:
  retry:
    instances:
      matchingService:
        max-attempts: 3
        wait-duration: 5s
        retry-exceptions:
          - java.io.IOException
          - org.springframework.web.reactive.function.client.WebClientRequestException
          - java.util.concurrent.TimeoutException
      delete:
        max-attempts: 4
        fail-after-max-attempts: true


  timelimiter:
    instances:
      matchingService:
        timeout-duration: 4s

  circuitbreaker:
    instances:
      matchingService:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      access: unrestricted
  metrics:
    distribution:
      percentiles-histogram:
        stable.matching.response.time: true

